@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-latin-600-normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-latin-700-normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-latin-800-normal.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/maple-mono-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: mono;
  font-display: swap;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@catppuccin/tailwindcss/mocha.css";

@source "./src/**";

@theme {
  --font-sans: "Nunito", "sans-serif";
  --font-mono: "Maple Mono", monospace;
}

@utility prose-catppuccin {
  --tw-prose-body: var(--color-ctp-text);
  --tw-prose-headings: var(--color-ctp-text);
  --tw-prose-lead: var(--color-ctp-subtext1);
  --tw-prose-links: var(--color-ctp-blue);
  --tw-prose-bold: var(--color-ctp-text);
  --tw-prose-counters: var(--color-ctp-subtext0);
  --tw-prose-bullets: var(--color-ctp-overlay1);
  --tw-prose-hr: var(--color-ctp-surface1);
  --tw-prose-quotes: var(--color-ctp-text);
  --tw-prose-quote-borders: var(--color-ctp-surface2);
  --tw-prose-captions: var(--color-ctp-subtext1);
  --tw-prose-code: var(--color-ctp-mauve);
  --tw-prose-pre-code: var(--color-ctp-text);
  --tw-prose-pre-bg: var(--color-ctp-mantle);
  --tw-prose-th-borders: var(--color-ctp-surface2);
  --tw-prose-td-borders: var(--color-ctp-surface1);

  --tw-prose-invert-body: var(--color-ctp-text);
  --tw-prose-invert-headings: var(--color-ctp-text);
  --tw-prose-invert-lead: var(--color-ctp-subtext1);
  --tw-prose-invert-links: var(--color-ctp-blue);
  --tw-prose-invert-bold: var(--color-ctp-text);
  --tw-prose-invert-counters: var(--color-ctp-subtext0);
  --tw-prose-invert-bullets: var(--color-ctp-overlay1);
  --tw-prose-invert-hr: var(--color-ctp-surface1);
  --tw-prose-invert-quotes: var(--color-ctp-text);
  --tw-prose-invert-quote-borders: var(--color-ctp-surface2);
  --tw-prose-invert-captions: var(--color-ctp-subtext1);
  --tw-prose-invert-code: var(--color-ctp-mauve);
  --tw-prose-invert-pre-code: var(--color-ctp-text);
  --tw-prose-invert-pre-bg: var(--color-ctp-crust);
  --tw-prose-invert-th-borders: var(--color-ctp-surface2);
  --tw-prose-invert-td-borders: var(--color-ctp-surface1);
}


@layer base {
  body {
    padding: 1rem;
  }


  nav a:hover {
    @apply underline;
  }

  .prose :not(pre)>code::before,
  .prose :not(pre)>code::after {
    content: "" !important;
  }

  figure {
    @apply flex flex-col items-center
  }

  .tip::before {
    content: "Tip";
    @apply text-ctp-sapphire
  }

  .info::before {
    content: "Info";
    @apply text-ctp-blue
  }

  .warning::before {
    content: "Warning";
    @apply text-ctp-peach
  }

  :is(.info, .tip, .warning) {
    @apply bg-ctp-crust p-4 rounded-xl my-2;
  }

  .prose :where(:is(.info, .tip, .warning) p) {
    margin-block: 0 !important;
  }

  :is(.info, .tip, .warning)::before {
    @apply block font-semibold mb-1;
  }
}