:root {
    --content-width: 960px;
    font-size: 16px;
}

:root[data-applied-mode="system"], :root[data-applied-mode="default"], :root {
    color-scheme: light dark;
    --base-color: var(--ctp-latte-base);
    --text-color: var(--ctp-latte-text);
    --mantle-color: var(--ctp-latte-mantle);
    --crust-color: var(--ctp-latte-crust);
}
@media (prefers-color-scheme: dark) {
    :root[data-applied-mode="system"], :root[data-applied-mode="default"], :root {
        --base-color: var(--ctp-mocha-base);
        --text-color: var(--ctp-mocha-text);
        --mantle-color: var(--ctp-mocha-mantle);
        --crust-color: var(--ctp-mocha-crust);
    }
}

html, body {
    font-family: monospace;
    margin: auto;
    overflow-x: clip;
    background-color: var(--base-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    width: min(var(--content-width), 100%);
    box-sizing: border-box;
    padding: 1rem;
}
