@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-latin-600-normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-latin-700-normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-latin-800-normal.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/maple-mono-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: mono;
  font-display: swap;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@catppuccin/tailwindcss/mocha.css";

@source "./src/**";

@theme {
  --font-sans: "Nunito", "sans-serif";
  --font-mono: "Maple Mono", monospace;
}

@utility prose-catppuccin {
  --tw-prose-body: var(--color-ctp-text);
  --tw-prose-headings: var(--color-ctp-text);
  --tw-prose-lead: var(--color-ctp-subtext1);
  --tw-prose-links: var(--color-ctp-blue);
  --tw-prose-bold: var(--color-ctp-text);
  --tw-prose-counters: var(--color-ctp-subtext0);
  --tw-prose-bullets: var(--color-ctp-overlay1);
  --tw-prose-hr: var(--color-ctp-surface1);
  --tw-prose-quotes: var(--color-ctp-text);
  --tw-prose-quote-borders: var(--color-ctp-surface2);
  --tw-prose-captions: var(--color-ctp-subtext1);
  --tw-prose-code: var(--color-ctp-mauve);
  --tw-prose-pre-code: var(--color-ctp-text);
  --tw-prose-pre-bg: var(--color-ctp-mantle);
  --tw-prose-th-borders: var(--color-ctp-surface2);
  --tw-prose-td-borders: var(--color-ctp-surface1);

  --tw-prose-invert-body: var(--color-ctp-text);
  --tw-prose-invert-headings: var(--color-ctp-text);
  --tw-prose-invert-lead: var(--color-ctp-subtext1);
  --tw-prose-invert-links: var(--color-ctp-blue);
  --tw-prose-invert-bold: var(--color-ctp-text);
  --tw-prose-invert-counters: var(--color-ctp-subtext0);
  --tw-prose-invert-bullets: var(--color-ctp-overlay1);
  --tw-prose-invert-hr: var(--color-ctp-surface1);
  --tw-prose-invert-quotes: var(--color-ctp-text);
  --tw-prose-invert-quote-borders: var(--color-ctp-surface2);
  --tw-prose-invert-captions: var(--color-ctp-subtext1);
  --tw-prose-invert-code: var(--color-ctp-mauve);
  --tw-prose-invert-pre-code: var(--color-ctp-text);
  --tw-prose-invert-pre-bg: var(--color-ctp-crust);
  --tw-prose-invert-th-borders: var(--color-ctp-surface2);
  --tw-prose-invert-td-borders: var(--color-ctp-surface1);
}


@layer base {
  body {
    padding: 1rem;
  }


  nav a:hover {
    @apply underline;
  }

  .prose :not(pre)>code::before,
  .prose :not(pre)>code::after {
    content: "" !important;
  }

  figure {
    @apply flex flex-col items-center
  }

  .note::before {
    content: "Note";
    color: var(--color-ctp-mauve);
  }

  .tip::before {
    content: "Tip";
    color: var(--color-ctp-sapphire);
  }

  .info::before {
    content: "Info";
    color: var(--color-ctp-blue);
  }

  .warning::before {
    content: "Warning";
    color: var(--color-ctp-peach);
  }

  :is(.note, .info, .tip, .warning) {
    @apply bg-ctp-crust p-4 rounded-xl my-2;
  }

  .prose :where(:is(.note, .info, .tip, .warning) p) {
    margin-block: 0 !important;
  }

  :is(.note, .info, .tip, .warning)::before {
    @apply block font-semibold mb-1;
  }

}


@layer highlight {
  pre {
    background-color: var(--color-ctp-mantle);
    position: relative;
    @apply p-3 sm:p-4 rounded-xl
  }

  pre[data-file]::before {
    content: attr(data-file);
    display: block;
    color: var(--color-ctp-subtext0);
    @apply text-sm rounded mb-4
  }


  pre>code[data-lang]::after {
    content: attr(data-lang);
    position: absolute;
    z-index: 1;
    display: inline-block;
    color: var(--color-ctp-overlay0);
    pointer-events: none;
    @apply top-1 right-1 p-1 text-sm rounded
  }

  pre>code[data-lang="text"]::after {
    content: none
  }

  pre>code {
    color: var(--color-ctp-text)
  }

  code {
    counter-reset: step;
    counter-increment: step 0;
  }

  .line {
    display: block;
  }

  .line::after {
    content: "\A";
    white-space: pre;
  }

  .line:last-child::after {
    content: none;
  }

  /* uncomment for line numbers */
  /* .line::before { */
  /* content: counter(step); */
  /* counter-increment: step; */
  /* width: 1rem; */
  /* margin-right: 1.5rem; */
  /* display: inline-block; */
  /* text-align: right; */
  /* color: var(--color-ctp-overlay1); */
  /* opacity: 0.4; */
  /* } */

  /* .line:empty::before { */
  /* content: counter(step) "\200b" */
  /* } */

  .variable {
    color: var(--color-ctp-text);
  }

  .variable\.builtin {
    color: var(--color-ctp-red);
  }

  .variable\.member {
    color: var(--color-ctp-text);
  }

  .variable\.parameter\.builtin {
    color: var(--color-ctp-maroon);
  }

  .variable\.parameter {
    color: var(--color-ctp-maroon);
  }

  .constant {
    color: var(--color-ctp-peach);
  }

  .constant\.builtin {
    color: var(--color-ctp-peach);
  }

  .constant\.macro {
    color: var(--color-ctp-mauve);
  }

  .module {
    color: var(--color-ctp-yellow);
  }

  .label {
    color: var(--color-ctp-sapphire);
  }

  /* literals */
  .string {
    color: var(--color-ctp-green);
  }

  .string\.documentation {
    color: var(--color-ctp-overlay0);
  }

  .string\.escape {
    color: var(--color-ctp-pink);
  }

  .string\.regexp {
    color: var(--color-ctp-peach);
  }

  .string\.special {
    color: var(--color-ctp-red);
  }

  .character {
    color: var(--color-ctp-teal);
  }

  .character\.special {
    color: var(--color-ctp-pink);
  }

  .boolean {
    color: var(--color-ctp-peach);
  }

  .number {
    color: var(--color-ctp-peach);
  }

  /* types */
  .type {
    color: var(--color-ctp-yellow);
  }

  .type\.builtin {
    color: var(--color-ctp-yellow);
  }

  .type\.definition {
    color: var(--color-ctp-yellow);
  }

  .attribute {
    color: var(--color-ctp-blue);
  }

  .attribute\.builtin {
    color: var(--color-ctp-peach);
  }

  .property {
    color: var(--color-ctp-lavender);
  }

  /* functions */
  .function {
    color: var(--color-ctp-blue);
  }

  .function\.builtin {
    color: var(--color-ctp-peach);
  }

  .function\.call {
    color: var(--color-ctp-blue);
  }

  .function\.macro {
    color: var(--color-ctp-teal);
  }

  .function\.method {
    color: var(--color-ctp-blue);
  }

  .function\.method.call {
    color: var(--color-ctp-blue);
  }

  .constructor {
    color: var(--color-ctp-sapphire);
  }

  .operator {
    color: var(--color-ctp-sky);
  }

  /* keywords */
  .keyword {
    color: var(--color-ctp-mauve);
  }

  .keyword\.coroutine {
    color: var(--color-ctp-mauve);
  }

  .keyword\.function {
    color: var(--color-ctp-mauve);
  }

  .keyword\.operator {
    color: var(--color-ctp-mauve);
  }

  .keyword\.import {
    color: var(--color-ctp-mauve);
  }

  .keyword\.type {
    color: var(--color-ctp-mauve);
  }

  .keyword\.modifier {
    color: var(--color-ctp-mauve);
  }

  .keyword\.repeat {
    color: var(--color-ctp-mauve);
  }

  .keyword\.return {
    color: var(--color-ctp-mauve);
  }

  .keyword\.debug {
    color: var(--color-ctp-pink);
  }

  .keyword\.exception {
    color: var(--color-ctp-mauve);
  }

  .keyword\.conditional {
    color: var(--color-ctp-mauve);
  }

  .keyword\.conditional\.ternary {
    color: var(--color-ctp-mauve);
  }

  .punctuation {
    color: var(--color-ctp-overlay2);
  }

  .punctuation\.bracket {
    color: var(--color-ctp-overlay2);
  }

  .punctuation\.delimiter {
    color: var(--color-ctp-overlay2);
  }

  .punctuation\.special {
    color: var(--color-ctp-pink);
  }

  /* comments */
  .comment {
    color: var(--color-ctp-overlay0);
  }

  .comment\.documentation {
    color: var(--color-ctp-overlay0);
  }

  .tag {
    color: var(--color-ctp-mauve);
  }

  .tag\.builtin {
    color: var(--color-ctp-mauve);
  }

  .tag\.attribute {
    color: var(--color-ctp-teal);
  }

  .tag\.delimiter {
    color: var(--color-ctp-sky);
  }
}