name: Deploy lustre ssg site to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"
          elixir-version: "1.19"
      - name: setup rust
        uses: dtolnay/rust-toolchain@stable
      - name: setup rust cache
        uses: swatinem/rust-cache@v2.7.3
      - name: Configure Git to use HTTPS
        run: git config --global url."https://github.com/".insteadOf "git@github.com:"
      - run: gleam deps download
      - name: build glimra NIF
        working-directory: build/packages/glimra
        run: cargo xtask
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Build static site
        run: gleam run -m build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./priv

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
