name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"
          elixir-version: "1.19"
      - name: Configure Git to use HTTPS
        run: git config --global url."https://github.com/".insteadOf "git@github.com:"
      - run: gleam deps download
      - run: gleam test
      - run: gleam format --check src test
